{% extends "index.html" %}
{% block content %}
{% if user.is_authenticated %}
    <script>
        document.getElementById("chevron-menu").style.display = "inline-flex";
        document.getElementById("app-logo").style.display = "none";
    </script>
{% else %}
    <script>location.href = "{% url 'login' %}";</script>
{% endif %}
    <script>
        document.title = "Add Stock"
    </script>
    <div class="module-container" style="display: block;">
        <p>Add Stock</p>
    </div>
{% endblock %}