{% extends "index.html" %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
    <script>
        document.getElementById("chevron-menu").style.display = "inline-flex";
        document.getElementById("app-logo").style.display = "none";
    </script>
{% else %}
    <script>location.href = "{% url 'login' %}";</script>
{% endif %}
    <script>
        document.title = "Assign Shift"
    </script>
    <div class="module-container">
        <div class="search-form">
            <form method="POST">
            {% csrf_token %}
                <div class="search-inner-form">
                    <div class="basic-search">
                        <div class="search-input-field-four">
                            {% for e in employeesearch %}
                                <input type="text" value="{{ e.emp_id }}" class="input-box-big" id="employee-id" name="employee-id" title="Employee ID" placeholder="Search Employee ID" autofocus="true" autocomplete="off" tabindex="1" required>
                            {% endfor %}
                            <div class="search-icon-wrap">
                                <button type="submit" value="search-button" class="icon-btn" id="search-button" name="search-button" title="Search" formnovalidate="formnovalidate" tabindex="2"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div> 
                    <div class="advance-search">
                        <div id="advance-search-container">
                            <div class="advance-search-desc-row">
                                <div class="search-input-field-single">
                                    <div class="search-choices-inner">
                                        {% for e in employeesearch %}
                                            <label class="inner-input-label" id="employee-name-label" title="Employee Name" onclick="changeFocus('', 'employee-name-input', '', '', '')">Name</label>
                                            <input type="text" value="{{ e.emp_name }}" class="borderless-input" id="employee-name-input" name="employee-name-input" title="Employee Name" placeholder="" onfocus="(this.type='text')" onchange="showLabel('employee-name-label', 'employee-name-input', 'employee-name-clear', '', '')" tabindex="3" required>
                                            <button type="button" class="clear-input-button" id="employee-name-clear" onclick="emptyInput('employee-name-label', 'employee-name-input', 'employee-name-clear', '')"><i class="fa fa-times"></i></button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="advance-search-desc-row">
                                {% for module in modules %}
                                    {% if module.mod_url == "assignshift" %}
                                        {% for parameter in module.mod_param.all %}
                                            <div class="search-input-field-triple">
                                                <div class="search-choices-inner">
                                                    <label class="inner-input-label" id="employee-{{ parameter.param_name }}-label" title="Employee {{ parameter.param_name }}">{{ parameter.param_name }}</label>
                                                    <select class="advance-search-select" id="employee-{{ parameter.param_name }}-input" name="employee-{{ parameter.param_name }}-input" title="Employee {{ parameter.param_name }}" onfocus="(this.type='text')" onchange="showLabel('employee-{{ parameter.param_name }}-label', 'employee-{{ parameter.param_name }}-input', 'employee-{{ parameter.param_name }}-clear', '', '')" tabindex="4" required>
                                                        <option value="" disabled selected></option>
                                                        {% for selection in parameter.param_sel.all %}
                                                            <option value="{{ selection.sel_name }}">{{ selection.sel_name }}</option>
                                                            {% for e in employeesearch %}
                                                                {% if parameter.param_name == "Position" %}
                                                                    {% if e.emp_position == selection.sel_name %}
                                                                        <option value="{{ selection.sel_name }}" selected hidden>{{ selection.sel_name }}</option>
                                                                    {% endif %}
                                                                {% elif parameter.param_name == "Shift" %}
                                                                    {% if e.emp_shift == selection.sel_name %}
                                                                        <option value="{{ selection.sel_name }}" selected hidden>{{ selection.sel_name }}</option>
                                                                    {% endif %}
                                                                {% elif parameter.param_name == "Dayoff" %}
                                                                    {% if e.emp_dayoff == selection.sel_name %}
                                                                        <option value="{{ selection.sel_name }}" selected hidden>{{ selection.sel_name }}</option>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </select>
                                                    <button type="button" class="clear-input-button" id="employee-{{ parameter.param_name }}-clear" onclick="emptyInput('employee-{{ parameter.param_name }}-label', 'employee-{{ parameter.param_name }}-input', 'employee-{{ parameter.param_name }}-clear', '')"><i class="fa fa-times"></i></button>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="advance-search-desc-row">
                                <div class="search-input-field-single">
                                    <div class="search-choices-inner">
                                        {% for e in employeesearch %}
                                            <label class="inner-input-label" id="employee-remarks-label" title="Remarks" onclick="changeFocus('', 'employee-remarks-input', '', '', '')">Remarks</label>
                                            <input type="text" value="{{ e.emp_remarks }}" class="borderless-input" id="employee-remarks-input" name="employee-remarks-input" title="Remarks" placeholder="" onfocus="(this.type='text')" onchange="showLabel('employee-remarks-label', 'employee-remarks-input', 'employee-remarks-clear', '', '')" tabindex="5">
                                            <button type="button" class="clear-input-button" id="employee-remarks-clear" onclick="emptyInput('employee-remarks-label', 'employee-remarks-input', 'employee-remarks-clear', '')"><i class="fa fa-times"></i></button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="advance-search-desc-row-last">
                                <div class="group-btn">
                                    <button type="submit" value="save-employee-shift" class="regular-btn" id="save-button" name="save-button" title="Save" tabindex="6">SAVE</button>
                                    <button type="submit" value="clear-employee-shift" class="regular-btn" id="clear-button" name="clear-button" title="Clear fields" formnovalidate="formnovalidate" tabindex="7">CLEAR</button>
                                </div>
                                {% if messages %}
                                    {% for message in messages %}
                                        <p class="action-message" id="saved-message">{{ message }}</p>
                                        <script>
                                            var message = document.getElementById("saved-message");
                                            var lb = document.getElementsByClassName("inner-input-label");
                                            var ip = document.getElementsByClassName("advance-search-select");
                                            var cb = document.getElementsByClassName("clear-input-button");
                                            if(message.innerHTML.includes("Records found for employee ID") || message.innerHTML.includes("successfully")){
                                                message.style.color = "#a676f1";
                                                for(a = 0; a < lb.length; a++){
                                                    lb[a].style.color = "#a676f1";
                                                }
                                                for(b = 0; b < ip.length; b++){
                                                    ip[b].classList.add("advance-search-select-hide-arrow");
                                                }
                                                for(c = 0; c < cb.length; c++){
                                                    cb[c].style.display = "block";
                                                }
                                            }else{
                                                message.style.color = "#703606";
                                            }
                                        </script>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="search-table">
            <div class="table-options">
                <div class="search-choices-inner">
                    <label class="normal-input-label" id="filter-by-label" title="Filter By" onclick="changeFocus('', 'filter-by-input', '', '', '')">Filter By Name&nbsp;</label>
                    <select class="advance-search-select select-left-arrow width-min-content" id="filter-by-select" title="Select Filter" onchange="changeFocus('filter-by-label', 'filter-by-input', 'filter-by-select', 'Filter By ')" tabindex="8">
                        <option value="1">Name</option>
                        <option value="2">Employee ID</option>
                        <option value="3">Position</option>
                        <option value="4">Dayoff</option>
                        <option value="5">Time</option>
                        <option value="6">Remarks</option>
                    </select>
                    <input type="text" value="" class="borderless-input" id="filter-by-input" name="filter-by-input" title="Filter By" placeholder="" onfocus="(this.type='text')" onblur="(this.type='text')" onchange="showLabel('filter-by-label', 'filter-by-input', 'filter-by-clear', '', 'normal')" onkeyup="filterTable('employee-shift-table', 'filter-by-input', 'filter-by-select')" oncut="return false" tabindex="9" required>
                </div>
                <div style="margin: 0 3px;"></div>
                <div class="search-choices-inner">
                    <label class="normal-input-label" id="employee-shift-template-label" title="Template">Template</label>
                    <form method="POST">
                    {% csrf_token %}
                        <select class="advance-search-select" id="employee-shift-template-input" name="employee-shift-template-input" title="Template" onfocus="(this.type='text')" onChange="form.submit();" tabindex="10">
                            <option value="" disabled selected></option>
                            {% for t in templates %}
                                {% if t.temp_default %}
                                    <option value="{{ t.temp_name }}" selected>{{ t.temp_name }}</option>
                                {% else %}
                                    <option value="{{ t.temp_name }}">{{ t.temp_name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <div style="margin: 0 3px;"></div>
                {% for t in templates %}
                    {% if t.temp_default %}
                        <div class="search-choices-inner">
                            <label class="normal-input-label" id="employee-shift-group-label" title="Filter By Shift Group">Filter By Shift Group</label>
                            <select class="advance-search-select" id="employee-shift-group-input" name="employee-shift-group-input" title="Filter By Shift Group" onfocus="(this.type='text')" onchange="showLabel('employee-shift-group-label', 'employee-shift-group-input', 'employee-shift-group-clear', 'Employee Shift Group', '')" tabindex="11">
                                <option value="Show All">Show All</option>
                                {% for group in t.temp_filter.all %}
                                    <option value="{{ group.group_desc }}">{{ group.group_desc }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                {% endfor %}
                <div style="margin: 0 3px;"></div>
                <div class="search-choices-inner width-to-content" >
                    <button type="button" value="excel-button" class="image-btn" id="excel-button" name="excel-button" title="Export to Excel file" onclick="exportToExcel('employee-shift-table')" tabindex="12"><img src="{% static 'ams/icons/excel.png' %}"/></button>
                </div>
            </div>
            {% for t in templates %}
                {% if t.temp_default %}
                    <table class="search-result-table" id="employee-shift-table" style="border: none;" data-cols-width="6,25,10,30,15,15,40">
                        {% for group in t.temp_filter.all|dictsort:"group_sort" %}
                            <thead class="{{ group.group_desc }}">
                                <tr>
                                    <td colspan="7" data-f-name="Cambria" data-f-sz="14" data-f-color="C89400" data-a-h="left">{{ group.group_name }}</td>
                                </tr>
                                <tr>
                                    <th data-f-name="Cambria" data-f-sz="11" data-f-bold="true" data-f-color="FFFFFF" data-fill-color="C89400" data-a-h="center" data-b-a-s="thin">#</th>
                                    <th data-f-name="Cambria" data-f-sz="14" data-f-bold="true" data-f-color="FFFFFF" data-fill-color="C89400" data-a-h="center" data-b-a-s="thin">Name</th>
                                    <th data-f-name="Cambria" data-f-sz="14" data-f-bold="true" data-f-color="FFFFFF" data-fill-color="C89400" data-a-h="center" data-b-a-s="thin">Employee ID</th>
                                    <th data-f-name="Cambria" data-f-sz="14" data-f-bold="true" data-f-color="FFFFFF" data-fill-color="C89400" data-a-h="center" data-b-a-s="thin">Position</th>
                                    <th data-f-name="Cambria" data-f-sz="14" data-f-bold="true" data-f-color="FFFFFF" data-fill-color="C89400" data-a-h="center" data-b-a-s="thin">Dayoff</th>
                                    <th data-f-name="Cambria" data-f-sz="14" data-f-bold="true" data-f-color="FFFFFF" data-fill-color="C89400" data-a-h="center" data-b-a-s="thin">Time</th>
                                    <th data-f-name="Cambria" data-f-sz="14" data-f-bold="true" data-f-color="FFFFFF" data-fill-color="C89400" data-a-h="center" data-b-a-s="thin">Remarks</th>
                                </tr>
                            </thead>
                            <tbody class="{{ group.group_desc }}">
                                <script>var empCounter = 0;</script>
                                {% for e in employees|dictsort:"emp_id"|dictsort:"emp_name"|dictsort:"emp_position" %}
                                    {% if e.emp_shift in group.filter_string and e.emp_position in group.filter_string %}
                                        <script>empCounter++;</script>
                                        <tr>
                                            <td data-t="n" data-f-name="Cambria" data-f-sz="14" data-f-color="000000" data-a-h="center" data-b-a-s="thin" class="search-result-table-first-column" id="{{ group.id }}{{ group.group_name }}{{ e.id }}"></td>
                                            <td data-f-name="Cambria" data-f-sz="14" data-f-color="000000" data-a-h="center" data-b-a-s="thin">{{ e.emp_name }}</td>
                                            <td data-t="n" data-f-name="Cambria" data-f-sz="14" data-f-color="000000" data-a-h="center" data-b-a-s="thin">{{ e.emp_id }}</td>
                                            <td data-f-name="Cambria" data-f-sz="14" data-f-color="000000" data-a-h="center" data-b-a-s="thin">{{ e.emp_position }}</td>
                                            <td data-f-name="Cambria" data-f-sz="14" data-f-color="000000" data-a-h="center" data-b-a-s="thin">{{ e.emp_dayoff }}</td>
                                            <td data-f-name="Cambria" data-f-sz="14" data-f-color="000000" data-a-h="center" data-b-a-s="thin">{{ e.emp_shift }}</td>
                                            <td data-f-name="Cambria" data-f-sz="14" data-f-color="000000" data-a-h="center" data-b-a-s="thin">{{ e.emp_remarks }}</td>
                                        </tr>
                                        <script>
                                            var rowIDCounter = document.getElementById("{{ group.id }}{{ group.group_name }}{{ e.id }}");
                                            rowIDCounter.innerHTML = empCounter;
                                        </script>
                                    {% endif %}   
                                {% endfor %}
                            </tbody>
                        {% endfor %}
                    </table>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <style>

        .module-container{
            display: block;
        }

    </style>
{% endblock %}