{% extends "index.html" %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
    <script>
        document.getElementById("chevron-menu").style.display = "inline-flex";
        document.getElementById("app-logo").style.display = "none";
    </script>
{% else %}
    <script>location.href = "{% url 'login' %}";</script>
{% endif %}
    <script>
        document.title = "Fleet"
    </script>
    <div class="module-container">
        <div class="search-form">
            <form method="POST">
            {% csrf_token %}
                <div class="search-inner-form">
                    <div class="basic-search">
                        <div class="search-input-field-four">
                            {% for a in assetsearch %}
                                <input type="text" value="{{ a.asset_id }}" class="input-box-big" id="asset-id" name="asset-id" title="Asset ID" placeholder="Search Asset ID" autofocus="true" autocomplete="off" tabindex="1" required>
                            {% endfor %}
                            <div class="search-icon-wrap">
                                <button type="submit" value="search-button" class="icon-btn" id="search-button" name="search-button" title="Search" formnovalidate="formnovalidate" tabindex="2"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div> 
                    <div class="advance-search">
                        <div id="advance-search-container">
                            <div class="advance-search-desc-row">
                                {% for module in modules %}
                                    {% if module.mod_url == "fleet" %}
                                        {% for parameter in module.mod_param.all %}
                                            <div class="search-input-field-four">
                                                <div class="search-choices-inner">
                                                    <label class="inner-input-label" id="asset-{{ parameter.param_name }}-label" title="Asset {{ parameter.param_name }}">{{ parameter.param_name }}</label>
                                                    <select class="advance-search-select" id="asset-{{ parameter.param_name }}-input" name="asset-{{ parameter.param_name }}-input" title="Asset {{ parameter.param_name }}" onfocus="(this.type='text')" onchange="showLabel('asset-{{ parameter.param_name }}-label', 'asset-{{ parameter.param_name }}-input', 'asset-{{ parameter.param_name }}-clear', '', '')" tabindex="3" required>
                                                        <option value="" disabled selected></option>
                                                        {% for selection in parameter.param_sel.all %}
                                                            <option value="{{ selection.sel_name }}">{{ selection.sel_name }}</option>
                                                            {% for a in assetsearch %}
                                                                {% if parameter.param_name == "Model" %}
                                                                    {% if a.asset_model == selection.sel_name %}
                                                                        <option value="{{ selection.sel_name }}" selected hidden>{{ selection.sel_name }}</option>
                                                                    {% endif %}
                                                                {% elif parameter.param_name == "Type" %}
                                                                    {% if a.asset_type == selection.sel_name %}
                                                                        <option value="{{ selection.sel_name }}" selected hidden>{{ selection.sel_name }}</option>
                                                                    {% endif %}
                                                                {% elif parameter.param_name == "Sector" %}
                                                                    {% if a.asset_sector == selection.sel_name %}
                                                                        <option value="{{ selection.sel_name }}" selected hidden>{{ selection.sel_name }}</option>
                                                                    {% endif %}
                                                                {% elif parameter.param_name == "Area" %}
                                                                    {% if a.asset_area == selection.sel_name %}
                                                                        <option value="{{ selection.sel_name }}" selected hidden>{{ selection.sel_name }}</option>
                                                                    {% endif %}
                                                                {% endif %}
                                                            {% endfor %}
                                                        {% endfor %}
                                                    </select>
                                                    <button type="button" class="clear-input-button" id="asset-{{ parameter.param_name }}-clear" onclick="emptyInput('asset-{{ parameter.param_name }}-label', 'asset-{{ parameter.param_name }}-input', 'asset-{{ parameter.param_name }}-clear', '')"><i class="fa fa-times"></i></button>
                                                    <script>showLabel('asset-{{ parameter.param_name }}-label', 'asset-{{ parameter.param_name }}-input', 'asset-{{ parameter.param_name }}-clear', '', '')</script>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="advance-search-desc-row">
                                <div class="search-input-field-double">
                                    <div class="search-choices-inner">
                                        {% for a in assetsearch %}
                                            <label class="inner-input-label" id="asset-serial-label" title="Serial" onclick="changeFocus('', 'asset-serial-input', '', '', '')">Serial</label>
                                            <input type="text" value="{{ a.asset_serial }}" class="borderless-input" id="asset-serial-input" name="asset-serial-input" title="Serial" placeholder="" onfocus="(this.type='text')" onchange="showLabel('asset-serial-label', 'asset-serial-input', 'asset-serial-clear', '', '')" tabindex="4">
                                            <button type="button" class="clear-input-button" id="asset-serial-clear" onclick="emptyInput('asset-serial-label', 'asset-serial-input', 'asset-serial-clear', '')"><i class="fa fa-times"></i></button>
                                            <script>showLabel('asset-serial-label', 'asset-serial-input', 'asset-serial-clear', '', '')</script>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="search-input-field-double">
                                    <div class="search-choices-inner">
                                        {% for a in assetsearch %}
                                            <label class="inner-input-label" id="asset-desc-label" title="Description" onclick="changeFocus('', 'asset-desc-input', '', '', '')">Description</label>
                                            <input type="text" value="{{ a.asset_desc }}" class="borderless-input" id="asset-desc-input" name="asset-desc-input" title="Description" placeholder="" onfocus="(this.type='text')" onchange="showLabel('asset-desc-label', 'asset-desc-input', 'asset-desc-clear', '', '')" tabindex="5">
                                            <button type="button" class="clear-input-button" id="asset-desc-clear" onclick="emptyInput('asset-desc-label', 'asset-desc-input', 'asset-desc-clear', '')"><i class="fa fa-times"></i></button>
                                            <script>showLabel('asset-desc-label', 'asset-desc-input', 'asset-desc-clear', '', '')</script>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="advance-search-desc-row-last">
                                <div class="group-btn">
                                    <button type="submit" value="save-asset-info" class="regular-btn" id="save-button" name="save-button" title="Save" tabindex="6">SAVE</button>
                                    <button type="submit" value="clear-asset-info" class="regular-btn" id="clear-button" name="clear-button" title="Clear fields" formnovalidate="formnovalidate" tabindex="7">CLEAR</button>
                                </div>
                                {% if messages %}
                                    {% for message in messages %}
                                        <p class="action-message" id="saved-message">{{ message }}</p>
                                        <script>
                                            var message = document.getElementById("saved-message");
                                            if(message.innerHTML.includes("Records found for") || message.innerHTML.includes("successfully")){
                                                message.style.color = "#a676f1";
                                            }else{
                                                message.style.color = "#703606";
                                            }
                                        </script>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="search-table">
            <div class="table-options">
                <div class="search-choices-inner">
                    <label class="normal-input-label" id="filter-by-label" title="Filter By" onclick="changeFocus('', 'filter-by-input', '', '', '')">Filter By Asset ID&nbsp;</label>
                    <select class="advance-search-select select-left-arrow width-min-content" id="filter-by-select" title="Select Filter" onchange="changeFocus('filter-by-label', 'filter-by-input', 'filter-by-select', 'Filter By ')" tabindex="8">
                        <option value="1">Asset ID</option>
                        <option value="2">Model</option>
                        <option value="3">Type</option>
                        <option value="4">Sector</option>
                        <option value="5">Area</option>
                        <option value="6">Serial</option>
                        <option value="7">Description</option>
                    </select>
                    <input type="text" value="" class="borderless-input" id="filter-by-input" name="filter-by-input" title="Filter By" placeholder="" onfocus="(this.type='text')" onblur="(this.type='text')" onchange="showLabel('filter-by-label', 'filter-by-input', 'filter-by-clear', '', 'normal')" onkeyup="filterTable('asset-info-table', 'filter-by-input', 'filter-by-select')" oncut="return false" tabindex="9" required>
                </div>
                <div style="margin: 0 3px;"></div>
                <div class="search-choices-inner width-to-content">
                    <button type="button" value="excel-button" class="image-btn" id="excel-button" name="excel-button" title="Export to Excel file" onclick="exportToExcel('asset-info-table')" tabindex="10"><img src="{% static 'ams/icons/excel.png' %}"/></button>
                </div>
            </div>
            <table class="search-result-table" id="asset-info-table" style="border: none;">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Asset ID</th>
                        <th>Model</th>
                        <th>Type</th>
                        <th>Sector</th>
                        <th>Area</th>
                        <th>Serial</th>
                        <th>Description</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    <script>var assetCounter = 0;</script>
                    {% for assets in assetlists %}
                        <script>assetCounter++;</script>
                        <tr>
                            <form method="POST">
                            {% csrf_token %}
                                <td id="rowNumber{{ assets.id }}" class="search-result-table-first-column"></td>
                                <td><input class="borderless-input hide-value" name="cell-asset-id" value="{{ assets.asset_id }}"/>{{ assets.asset_id }}</td>
                                <td>{{ assets.asset_model }}</td>
                                <td>{{ assets.asset_type }}</td>
                                <td>{{ assets.asset_sector }}</td>
                                <td>{{ assets.asset_area }}</td>
                                <td>{{ assets.asset_serial }}</td>
                                <td>{{ assets.asset_desc }}</td>
                                <td><button type="submit" value="update-from-cell-button" class="borderless-btn" id="update-from-cell-button" name="update-from-cell-button" title="Update"><i class="fa-solid fa-pen-to-square"></i></button></td>
                            </form>
                        </tr>
                        <script>
                            var rowIDCounter = document.getElementById("rowNumber{{ assets.id }}");
                            rowIDCounter.innerHTML = assetCounter;
                        </script>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="..."></nav>
                {% if assetlists.has_other_pages %}
                    <ul class="pagination custom-pagination">
                        {% if assetlists.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ assetlists.previous_page_number }}">Previous</a></li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}
                        {% for i in assetlists.paginator.page_range %}
                            {% if assetlists.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if assetlists.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ assetlists.next_page_number }}">Next</a></li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </nav>
        </div>
    </div>
    <style>

        .module-container{
            display: block;
        }

    </style>
{% endblock %}