{% extends "index.html" %}
{% block content %}
{% if user.is_authenticated %}
    <script>
        document.getElementById("chevron-menu").style.display = "inline-flex";
        document.getElementById("app-logo").style.display = "none";
    </script>
{% else %}
    <script>location.href = "{% url 'login' %}";</script>
{% endif %}
    <script>
        document.title = "Work Request"
    </script>
    <div class="module-container">
        <div class="search-form">
            <form>
                <div class="search-inner-form">
                    <div class="basic-search">
                        <div class="search-input-field">
                            <input class="input-box" id="search" type="text" autofocus="true" autocomplete="off" placeholder="Search Asset">
                            <div class="search-icon-wrap">
                                <button class="icon-btn" id="search-button"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="advance-search">
                        <span class="advance-search-desc">ADVANCED SEARCH&nbsp;&nbsp;<label class="switch" data-bs-toggle="collapse" data-bs-target="#advance-search-container"><input type="checkbox"><div></div></label></span>
                        <div id="advance-search-container" class="collapse">
                            <div class="advance-search-desc-row">
                                <div class="search-input-field">
                                    <div class="search-choices-inner">
                                        <input placeholder="Request Code" type="text" class="borderless-input" id="request-code">
                                    </div>   
                                </div>
                                {% for module in modules %}
                                    {% if module.mod_url == "workrequest" %}
                                        {% for parameter in module.mod_param.all %}
                                            <div class="search-input-field">
                                                <div class="search-choices-inner">
                                                    <select class="advance-search-select">
                                                        <option value="{{ parameter.param_name }}" disabled selected hidden>{{ parameter.param_name }}</option>
                                                        {% for selection in parameter.param_sel.all %}
                                                            <option value="{{ selection.sel_name }}">{{ selection.sel_name }}</option>
                                                        {% endfor %}
                                                    </select>     
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                {% endfor %}
                                <div class="search-input-field">
                                    <div class="search-choices-inner">
                                        <span class="advance-search-date-label">Start Date:</span>
                                        <input placeholder="" type="date" id="search-from-date" class="form-control datepicker">
                                    </div>
                                </div>
                                <div class="search-input-field">
                                    <div class="search-choices-inner">
                                        <span class="advance-search-date-label">End Date:</span>
                                        <input placeholder="" type="date" id="search-to-date" class="form-control datepicker">    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="advance-search-desc-row-last">
                            <div class="group-btn">
                                <button class="custom-btn" id="create-button">CREATE</button>
                                <button class="custom-btn" id="clear-button">CLEAR</button>
                            </div>
                            <div class="group-btn">
                                <button class="special-btn" id="export-pdf"><i class="fas fa-file-pdf"></i> PDF</i></button>
                                <button class="special-btn" id="export-excel"><i class="fas fa-file-excel"></i> EXCEL</i></button>
                                <button class="special-btn" id="export-print"><i class="fas fa-print"></i> PRINT</i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="search-table">
            <table class="search-result-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Request Code</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Request Type</th>
                        <th>Repair Type</th>
                        <th>Workshop</th>
                        <th>Description</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    {% for workrequest in workrequests %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ workrequest.req_code }}</td>
                            <td>{{ workrequest.req_date }}</td>
                            <td>{{ workrequest.req_status }}</td>
                            <td>{{ workrequest.req_type }}</td>
                            <td>{{ workrequest.req_reptype }}</td>
                            <td>{{ workrequest.req_workshop }}</td>
                            <td>{{ workrequest.req_description }}</td>
                            {% if workrequest.req_update %}
                                <td><button class="borderless-btn"><i class="fa-solid fa-pen-to-square"></i></button></td>
                            {% else %}
                                <td><button class="borderless-btn"><i class="fa-solid fa-eye"></i></button></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav aria-label="..."></nav>
                {% if workrequests.has_other_pages %}
                    <ul class="pagination">
                        {% if workrequests.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page={{ workrequests.previous_page_number }}">Previous</a></li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}
                        {% for i in workrequests.paginator.page_range %}
                            {% if workrequests.number == i %}
                                <li class="page-item active"><a class="page-link" href="#">{{ i }} <span class="sr-only">(current)</span></a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if workrequests.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ workrequests.next_page_number }}">Next</a></li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </nav>
        </div>
    </div>
    <style>

        .module-container{
            display: block;
        }
    
        #search-from-date, #search-to-date{
            font-family: ralewaymedium;
            font-size: 14px;
            color: #332042;
            border: none;
            cursor: pointer;
            width: 150px;
        }

        #search-from-date:focus, #search-to-date:focus{
            box-shadow: none !important;
        }

        .borderless-input:focus{
            outline: none !important;
        }

    </style>
{% endblock %}