{% extends "index.html" %}
{% block content %}
    <div id="menu-home">
        <div class="d-flex justify-content-center" id="menu-title"><p>Asset Maintenance System</p></div>
        <div class="d-flex justify-content-center">
        </div>
        <div class="d-flex justify-content-center" style="flex-wrap: wrap;">
            {% for section in sections %}
                <div class="button-container">
                    <a href="javascript:checkAuthentication(authVal, '{{ section.sec_name }}')" class="card" style="border-radius: 0;">
                        <p><i class="{{ section.sec_icon }}"></i></p>
                        <p class="card-title">{{ section.sec_name }}</p>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}